<template>
  <ion-page>
      <ion-modal
        :is-open="isOpenRef"
        css-class="modal_class"
        :swipe-to-close="true"
        :presenting-element="$parent.$refs.ionRouterOutlet"
        @didDismiss="setOpen(false)"
      >
        <Modal :data="data">
          <ion-list>
            <ion-item>{{data.name.first}} {{data.name.last}}</ion-item>
            <ion-item>Mail: {{data.email}}</ion-item>
            <ion-item>Celular: {{data.cell}}</ion-item>
            <ion-item>Género: {{data.gender}}</ion-item>
          </ion-list>
        </Modal>
        
      </ion-modal>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title>TP5 - Grupo 8</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content :fullscreen="true">
      <ion-list>
        <ion-item v-for="user in users" :key="user.id">
          <ion-label @click="setOpen(true, user)" className="item_modal_button item_center">{{user.name.first}} {{user.name.last}}</ion-label>
          <ion-button @click="eliminarUser(user, user.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
import { 
  IonContent, 
  IonHeader, 
  IonPage, 
  IonTitle, 
  IonToolbar, 
  IonLabel, 
  IonList, 
  IonItem, 
  IonButton, 
  alertController, 
  IonIcon,
  IonModal,
  } from '@ionic/vue';
import { defineComponent, ref } from 'vue';
import { Storage } from '@capacitor/storage';
import { Toast } from "@capacitor/toast";
import axios from "axios";

export default defineComponent({
  name: 'HomePage',
  components: {
    IonContent,
    IonHeader,
    IonPage,
    IonTitle,
    IonToolbar,
    IonLabel,
    IonList,
    IonItem,
    IonButton,
    IonIcon,
    IonModal,
  },
  data:() => ({
    users: [],
    data: {},
  }),
  setup() {
    const isOpenRef = ref(false);
    return { isOpenRef }
  },
  async mounted(){
    try { 
          await this.loadStorage();
          Storage.get({key: "users"}).then((usrs) => {
            this.users = JSON.parse(usrs.value!);
          });
        } catch (error) {
          console.log(error);
        }
  },
  methods:{
    eliminarUser: async function(user: any, id: number){
      const alert = await alertController
        .create({
          cssClass: 'my-custom-class',
          header: 'Eliminar a ' + user.name.first + ' ' + user.name.last + '?',
          buttons: [
            {
              text: 'NO',
              role: 'cancel',
              cssClass: 'secondary',
              id: 'cancel-button',
            },
            {
              text: 'SI',
              id: 'confirm-button',
              handler: () => {
                let index = this.users.findIndex((index: any) => index.cell == user.cell);
                this.users.splice(index, 1);
                Storage.set({key: "users", value: JSON.stringify(this.users)});
                Toast.show({text: 'Hello!', duration: "long"});
              },
            },
          ],
        });
      return alert.present();
    },
    setOpen: function(state: boolean, user: any){
      console.log(this.isOpenRef);
      this.isOpenRef = state;
      this.data = user;
    },
    loadStorage: async function(){
      var usuarios: string|null = "";
      await Storage.get({key: "users"}).then((usrs) => {
        usuarios = usrs.value;
      });
      if(usuarios != null && usuarios.length < 4){
          const users = await axios.get('https://randomuser.me/api/?results=10&inc=name,gender,email,cell');
          await Storage.set({
              key: "users",
              value: JSON.stringify(users.data.results),
          });
      }
    },
  }
});
</script>

<style scoped>
.item_modal_button{
  height: 100%;
}

.item_center{
  display: flex;
  align-items: center;
}
</style>